#wpwrap{
    background-color: #f1f1f1 !important;
}
.ctu-admin-wrapper{
    width: 100%;
    float: left;
}
.ctu-admin-select-row{
    border-radius: 5px;
    width: calc(100% - 2px);
    float: left;
    border: 1px solid #ccc;
    margin-bottom: 30px;
}
.ctu-admin-select-row-upper{
    width: 100%;
    float: left;
    padding: 20px 10px; 
}
.ctu-admin-select-row-buttom{
    width: 100%;
    float: left;
    height: auto;
    background-color: #fff;
}
.ctu-admin-select-row-buttom-left{
    line-height: 50px;
    width: calc(100% - 80px);
    font-size: 26px;
    float: left;
    text-align: center;
}
.ctu-admin-select-row-buttom-right{
    height: 50px;
    line-height: 50px;
    width: 80px;
    float: left;
    align-items: center;
    justify-content: center;
}
.ctu-admin-style-left{
    width: 100%;
    float: left;
    margin-right: 10px;
}
.nopadding{
    margin: 0;
    padding-left:  0 !important;
}
.nopadding2{
    margin: 0;
    padding-left:  0 !important;
    padding-right: 4px !important;
}
.nopadding2 .form-control{
    padding-left: 4px !important;
    padding-right: 4px !important;
}
.ctu-admin-style-left-head{
    width: 100%;
    float: left;
    border-radius: 5px;
    background-color: #fff;
}
.ctu-admin-style-left-head span{
    padding-left: 15px;
    line-height: 80px;
    float: left;
    font-size: 30px;
    display: inline-block;
}
.ctu-admin-style-left-button{
    display: inline-block;
    line-height: 80px;
    float: right;
    margin-right: 20px;
}
.ctu-admin-shortcode{
    width: 100%;
    float: left;
    display: block;
    display: flex;
    border-top: 1px solid #ccc;
}
.ctu-admin-shortcode .col-lg-3{
    border-right: 1px solid #ccc;
    padding-bottom: 20px;
}
.ctu-admin-shortcode .col-lg-3:last-of-type{
    border-right: none;
}
.ctu-admin-shortcode .col-lg-3.col-md-4:last-of-type{
    border-right: none;
}
.ctu-admin-shortcode .col-sm-6:last-of-type{
    border-right: none;
}
.ctu-admin-shortcode .col-xs-12:last-of-type{
    border-right: none;
}
.ctu-admin-shortcode-head{
    font-size: 1em;
    margin: 10px 0;
    display: block;
    font-weight: 600;
    width: 100%;
    float: left;
}
.ctu-admin-shortcode-body{
    padding-bottom: 10px;
    width: 100%;
    float: left;
}
.ctu-admin-shortcode-body a{
    font-weight: 600;
    color: #1a960a;
}
.ctu-admin-shortcode-code{
    width: 90%;
    float: left;
    margin: 5%;
}
.ctu-admin-absulote{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.ctu-style-absulate-edit, .ctu-style-absulate-delete{
    margin-right: 5px; display: inline-block;
}
.ctu-admin-style-left-template{
    width: 100%;
    padding: 20px 10px;
    float: left;
}
.ctu-edit-border{
    border:  1px solid  #0074CC;
    cursor: pointer;
}
.ctu-draggable .modal-header{
    cursor: move;
}

.table-responsive span{
    display: inline-block;
    padding-right: 10px;
    margin-bottom: 5px;
}

.ctu-admin-absulote .fa{
    padding: 0px 0px !important;
    font-size: 12px !important;
    line-height: 1 !important;
    border-radius: 3px !important;

}














.font-select {
    font-size: 16px;
    width: 100%;
    position: relative;
    display: inline-block;
    zoom: 1;
    margin: 0;
    *display: inline;
}

.font-select .fs-drop {
    background: #fff;
    border: 1px solid #aaa;
    border-top: 0;
    position: absolute;
    top: 29px;
    left: 0;
    right: 0;
    -webkit-box-shadow: 0 4px 5px rgba(0,0,0,.15);
    -moz-box-shadow   : 0 4px 5px rgba(0,0,0,.15);
    -o-box-shadow     : 0 4px 5px rgba(0,0,0,.15);
    box-shadow        : 0 4px 5px rgba(0,0,0,.15);
    z-index: 999;
}

.font-select > a {
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -o-linear-gradient(top, #eeeeee 0%,#ffffff 50%);
    background-image: -ms-linear-gradient(top, #eeeeee 0%,#ffffff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
    background-image: linear-gradient(top, #eeeeee 0%,#ffffff 50%);
    -webkit-border-radius: 4px;
    -moz-border-radius   : 4px;
    border-radius        : 4px;
    -moz-background-clip   : padding;
    -webkit-background-clip: padding-box;
    background-clip        : padding-box;
    border: 1px solid #aaa;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    height: 32px;
    line-height: 32px;
    padding: 0 0 0 8px;
    color: #444;
    text-decoration: none;
}

.font-select > a span {
    margin-right: 26px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    line-height: 1.8;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    cursor: pointer;
}

.font-select > a div {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius   : 0 4px 4px 0;
    border-radius        : 0 4px 4px 0;
    -moz-background-clip   : padding;
    -webkit-background-clip: padding-box;
    background-clip        : padding-box;
    background: #ccc;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee));
    background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%);
    background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
    background-image: -o-linear-gradient(bottom, #ccc 0%, #eee 60%);
    background-image: -ms-linear-gradient(top, #cccccc 0%,#eeeeee 60%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=0 );
    background-image: linear-gradient(top, #cccccc 0%,#eeeeee 60%);
    border-left: 1px solid #aaa;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    height: 100%;
    width: 18px;
}

.font-select > a div b {
    background: url('fs-sprite.png') no-repeat 0 1px;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.font-select .fs-drop {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius   : 0 0 4px 4px;
    border-radius        : 0 0 4px 4px;
    -moz-background-clip   : padding;
    -webkit-background-clip: padding-box;
    background-clip        : padding-box;
}

.font-select .fs-results {
    margin: 0 1px 4px 0;
    max-height: 190px;
    padding: 0 0 0 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.font-select .fs-results li {
    line-height: 80%;
    padding: 7px 7px 8px;
    margin: 0;
    list-style: none;
    font-size: 18px;
}

.font-select .fs-results li.active {
    background: #3875d7;
    color: #fff;
    cursor: pointer;
}
.font-select .fs-results li em {
    background: #feffde;
    font-style: normal;
}

.font-select .fs-results li.active em {
    background: transparent;
}

.font-select-active > a {
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
    -moz-box-shadow   : 0 0 5px rgba(0,0,0,.3);
    -o-box-shadow     : 0 0 5px rgba(0,0,0,.3);
    box-shadow        : 0 0 5px rgba(0,0,0,.3);
    border: 1px solid #5897fb;
}

.font-select-active > a {
    border: 1px solid #aaa;
    -webkit-box-shadow: 0 1px 0 #fff inset;
    -moz-box-shadow   : 0 1px 0 #fff inset;
    -o-box-shadow     : 0 1px 0 #fff inset;
    box-shadow        : 0 1px 0 #fff inset;
    background-color: #eee;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, white), color-stop(0.5, #eeeeee));
    background-image: -webkit-linear-gradient(center bottom, white 0%, #eeeeee 50%);
    background-image: -moz-linear-gradient(center bottom, white 0%, #eeeeee 50%);
    background-image: -o-linear-gradient(bottom, white 0%, #eeeeee 50%);
    background-image: -ms-linear-gradient(top, #ffffff 0%,#eeeeee 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
    background-image: linear-gradient(top, #ffffff 0%,#eeeeee 50%);
    -webkit-border-bottom-left-radius : 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft : 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-left-radius : 0;
    border-bottom-right-radius: 0;
}

.font-select-active > a div {
    background: transparent;
    border-left: none;
}

.font-select-active > a div b {
    background-position: -18px 1px;
}
.ctu-admin-wrapper-promote{
    width: 100%;
    float: left;
    padding: 20px 0;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #191A1E;
    color: #FFF;
    font-size: 20px;
}
.ctu-admin-wrapper-promote a,.ctu-admin-wrapper-promote span, .ctu-admin-wrapper-promote a:hover{
    color: #30c2f3;
    text-decoration: none;
}
.ctu-admin-wrapper-promote h1{
     font-size: 35px;
     line-height: 1.1;
     text-align: center;
}

.ctu-admin-wrapper-promote p{
     font-size: 20px;
     text-align: center;
}
.ctu-admin-wrapper-promote-botton{
    border: 1px solid #30c2f3;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    border-radius: 2px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px 15px 10px 15px;
}
.ctu-admin-wrapper-promote-botton:active, .ctu-admin-wrapper-promote-botton:focus{
    text-decoration: none;
    color: #30c2f3;
}
.ctu-admin-wrapper-promote-rate, .ctu-admin-wrapper-promote-rate p{
    text-align: left;
}
.ctu-admin-wrapper-promote-rate .fa{
    padding-right: 10px;
}
.ctu-pro-only{
    color:  red;
    font-size: 10px;
}
.ctu-pro-only:hover, .ctu-pro-only:focus{
    text-decoration: none;
}
.ctu-pro-only-big{
    color:  red;
    font-weight: bold;
}
.ctu-pro-only-big:hover, .ctu-pro-only-big:focus{
    text-decoration: none;
    cursor: pointer;
    color: #30c2f3;
    
}